<footer class="site-footer h-card">
  <div id="socials">
    <a href="https://{{ site.facebook_username| escape }}" target="_blank">{{ site.facebook_username| escape }}</a>
    <a href="https://www.twitter.com/{{ site.twitter_username| escape }}"
      target="_blank">@{{ site.twitter_username| escape }}</a>
    <a href="https://soundcloud.com/speedywunderground" target="_blank">soundcloud.com/sw</a>
    <a href="https://www.instagram.com/speedy_wunder" target="_blank">instagram.com/speedy_wunder</a>

  </div>
<img src="{{site.baseurl}}/assets/images/logo.png" alt="{{site.title}}" class="thumbnail" />

</footer>

<div id="js-player" class="container">

  <div class="player gradient">
    <ul class="all-tracks">
      {% assign track_listing = site.releases | sort:"sku" | reverse %}
      {% for release in track_listing  %}
      {% if release.tracks %}
      {% for track in release.tracks %}
      {%- if track.file -%}
      <li class="js-play-sample" data-sample="{{track.file}}" data-songname="{{ track.name }}">
        {{release.releaseprefix}}{{release.cataloguenumber}}: {{ track.name }}</li>
      {%- endif -%}
      {% endfor %}
      {% endif %}
      {%- if release.mp3-asset -%}
      <li class="js-play-sample" data-sample="{{release.mp3-asset}}" data-songname="{{ release.title }}">
        {{release.releaseprefix}}{{release.cataloguenumber}}: {{ release.title }}</li>
      {%- endif -%}
      {% endfor %}
    </ul>
    <span id="player-info"></span>
    <input type="range" id="seek" value="0" max="" />
    <div class="controls">
      <button class="player-button gradient" id="play"></button>
      <button class="player-button gradient" id="pause"></button>
      <button class="player-button gradient" id="close"></button>
    </div>
  </div><!-- / player -->

</div><!-- / Container-->

<script>
  document.addEventListener('snipcart.ready', function () {


    function myCartUpdate() {
      var count = Snipcart.store.getState().cart.items.count;
      console.log(count);
      if (count != 0) {
        if ($(window).width() < 768) {
          $("#my-cart").html('<a href="#" class="snipcart-checkout"><img src="{{site.baseurl}}/assets/images/cart-white.svg" alt="Your Cart"/> ' + count + ' Items</a>');

        } else {
          $("#my-cart").html('<a href="#" class="snipcart-checkout"><img src="{{site.baseurl}}/assets/images/cart.svg" alt="Your Cart"/> ' + count + ' Items</a>');

        }
      } else {

        if ($(window).width() < 768) {
          $("#my-cart").html('<a href="#" class="snipcart-checkout"><img src="{{site.baseurl}}/assets/images/cart-white.svg" alt="Your Cart"/> 0 Items</a>');

        } else {
          $("#my-cart").html('<a href="#" class="snipcart-checkout"><img src="{{site.baseurl}}/assets/images/cart.svg" alt="Your Cart"/> 0 Items</a>');

        }
      }
    }

    $(window).on('resize', function () {
      myCartUpdate();
    });

    myCartUpdate();

    Snipcart.events.on('item.added', (cartItem) => {
         myCartUpdate();
    });

    Snipcart.events.on('item.updated', (cartItem) => {
         myCartUpdate();
    });

    Snipcart.events.on('summary.checkout_clicked', () => {
        myCartUpdate();
    });

    Snipcart.events.on('cart.closed', (cartItem) => {
         myCartUpdate();
    });

    // Snipcart.api.subscribe('cart.closed', function () {
    //   myCartUpdate();
    // });

    // Snipcart.api.subscribe('item.updated', function (item) {
    //   myCartUpdate();
    // });

    $(".js-product-size").on('change', function (e) {
      e.preventDefault();
      $(this).next().attr('data-item-custom1-value', this.value);
    });


    $(".js-album-size").on('change', function (e) {
      e.preventDefault();
      console.log(this);
      $('button').attr('data-item-custom1-value', this.value);
    });

    $(".js-product-colour").on('change', function (e) {
      e.preventDefault();
      $(this).next().next().attr('data-item-custom2-value', this.value);
    });

    $(".js-product-cap").on('change', function (e) {
      e.preventDefault();
      $(this).next().attr('data-item-custom2-value', this.value);
    });

    $(".js-product-beanie").on('change', function (e) {
      e.preventDefault();
      $(this).next().attr('data-item-custom2-value', this.value);
    });

    $(".js-product-colour").on('change', function (e) {
      e.preventDefault();
      var selectedColor = $(this).val();
      console.log(selectedColor);
      // Remove all options from size dropdown
      $('.js-product-size option').remove();
      // Add default Size option back
      $('.js-product-size').append('<option value="" disabled="" selected="">Size</option>');
      if (selectedColor === 'red') {
          $('.js-product-size').append('<option value="small">Small</option><option value="medium">Medium</option><option value="large">Large</option>');
      } 
      else if (selectedColor === 'blue') {
        $('.js-product-size').append('<option value="small">Small</option><option value="medium">Medium</option><option value="x-large">X-Large</option>');
      }
      else {
        $('.js-product-size').append('<option value="small">Small</option><option value="medium">Medium</option><option value="large">Large</option><option value="x-large">X-Large</option>');
      }
    });






  });
  TweenMax.from("#nav", .5, { opacity: 0 }).delay(.5);
  TweenMax.from(".background", .5, { opacity: 0 }).delay(1);
  if ($('.triangle')) {
    TweenMax.from(".triangle", 1, { height: 0 }).delay(1.5);
    TweenMax.from(".t-line", 1, { opacity: 0 }).delay(1.5);
  }
  TweenMax.from(".hline", 1, { opacity: 0 }).delay(1.5);
  TweenMax.staggerFrom(".shop-cats-item", 2, { x: -200, opacity: 0, ease: Elastic.easeOut.config(1, 0.5) }, 0.25);

  if ($('.single-list .product-info')) {
    TweenMax.staggerFrom(".single-list .product-info", 2, { opacity: 0, ease: Elastic.easeOut.config(1, 0.5) }, 0.5);
  }

  function mobileSwitch() {
    var element = document.getElementById("js-nav");
    element.classList.toggle("is-active");
    var body = document.body;
    body.classList.toggle("fixed");
    var element = document.getElementById("nav");
    element.classList.toggle("mobile-menu-on");
  }

  $(document).ready(function () {
    $('.js-releases').slick({
      autoplay: true,
      autoplaySpeed: 5000,
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
    });

    $('.js-news').slick({
       autoplay: true,
       autoplaySpeed: 10000,
       dots: false,
        infinite: true,
        slidesToShow: 1,
        adaptiveHeight: true,
        arrows: false,
        fade: true,
        cssEase: 'linear'
    });



    //MUSIC PLAYER STUFF

    const container = $('.container');
    play = $('#play');
    pause = $('#pause');
    close = $('#close');
    song = new Audio();
    duration = song.duration;
    pause.addClass('js-hidden');
    playerinfo = $('#player-info');



    // if (song.canPlayType('audio/mpeg;')) {
    // 	song.type= 'audio/mpeg';
    // 	song.src= '{{site.baseurl}}/music/MBT_01.mp3';
    // } else {
    // 	song.type= 'audio/ogg';
    // 	song.src= '{{site.baseurl}}/music/track1.ogg';
    // }

    play.on('click', function (e) {
      e.preventDefault();
      song.play();
      container.addClass('js-show-player');
      pause.removeClass('js-hidden');
      play.addClass('js-hidden');
      $('#close').fadeIn(300);
      $('#seek').attr('max', song.duration);
    });

    pause.on('click', function (e) {
      e.preventDefault();
      play.removeClass('js-hidden');
      pause.addClass('js-hidden');
      song.pause();

    });


    $('#close').click(function (e) {
      e.preventDefault();
      container.removeClass('js-show-player');
      song.pause();
      song.currentTime = 0;
      $('#close').fadeOut(300);
    });

    $("#seek").bind("change", function () {
      song.currentTime = $(this).val();
      $("#seek").attr("max", song.duration);
    });

    song.addEventListener('timeupdate', function () {
      curtime = parseInt(song.currentTime, 10);
      $("#seek").val(curtime);
    });

    // Play Sample

    $('.js-play-sample').on('click', function (e) {
      e.preventDefault();
      song.currentTime = 0;
      song.src = '{{site.baseurl}}' + $(this).attr('data-sample');

      const songname = $(this).attr('data-songname');

      play.addClass('js-hidden');
      pause.removeClass('js-hidden');
      playerinfo.html('loading mp3');


      song.play();
      container.addClass('js-show-player');
      // cover.addClass('coverLarge');
      $('#close').fadeIn(300);
      $('#seek').attr('value', 0);
      //$('#seek').attr('max', song.duration);
      song.onloadedmetadata = function () {
        $('#seek').attr('max', song.duration);
        playerinfo.html('Playing: ' + songname);
      }

      // console.log(song.src);
      //$(this).next().attr('data-item-custom1-value' , this.value);
    });


  });


</script>