<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>

<script>
document.addEventListener('snipcart.ready', function() {
    

    function myCartUpdate() {
      var count = Snipcart.api.items.count();
      console.log(count);
      if (count != 0) {
        $("#my-cart").html('<a href="#" class="snipcart-checkout">'+ count + 'Items</a>');
      } else {
        $("#my-cart").html('');
      }
    }

    myCartUpdate();

    Snipcart.subscribe('cart.closed', function() {
      myCartUpdate();
    });

    Snipcart.subscribe('item.updated', function (item) {
      myCartUpdate();
    });


});
</script>
