<footer class="site-footer h-card">
        <div id="socials">
          <a href="https://{{ site.facebook_username| escape }}">{{ site.facebook_username| escape }}</a>
          <a href="https://www.twitter.com/{{ site.twitter_username| escape }}">@{{ site.twitter_username| escape }}</a>
        </div>
        <img src="assets/images/logo.png" alt="{{site.title}}" class="thumbnail"/>
</footer>

<script>
document.addEventListener('snipcart.ready', function() {
    

    function myCartUpdate() {
      var count = Snipcart.api.items.count();
      console.log(count);
      if (count != 0) {
        $("#my-cart").html('<a href="#" class="snipcart-checkout">'+ count + 'Items</a>');
      } else {
        $("#my-cart").html('');
      }
    }

    myCartUpdate();

    Snipcart.subscribe('cart.closed', function() {
      myCartUpdate();
    });

    Snipcart.subscribe('item.updated', function (item) {
      myCartUpdate();
    });


});

function mobileSwitch() {
    var element = document.getElementById("js-nav");
    element.classList.toggle("is-active"); 
    var body = document.body;
    body.classList.toggle("fixed"); 
    var element = document.getElementById("nav");
    element.classList.toggle("mobile-menu-on"); 
}


</script>
