<header class="site-header" role="banner">
    <h1 class="site-title">{{ site.title | escape }}</h1>
    <nav id="nav">
        <ul>
          {% if page.url == "/" %}
            <li class="active " data-col="#00cc00"><a href="{{site.baseurl}}/">Home</a></li>
          {% else %}
            <li class="inactive" data-col="#00cc00"><a href="{{site.baseurl}}/">Home</a></li>
          {% endif %}
          {% if page.url == "/about/" %}
            <li class="active" data-col="#ff0000"><a href="{{site.baseurl}}/about/">Single Series</a></li>
          {% else %}
            <li class="inactive" data-col="#ff0000"><a href="{{site.baseurl}}/about/">Single Series</a></li>
          {% endif %}

          <li class="inactive" data-col="#ffdd00"><a href="https://store.speedywunderground.com/">Store</a></li>
          {% if page.url == "/contact/" %}
            <li class="active" data-col="#ffdd00"><a href="{{site.baseurl}}/contact/">Contact</a></li>
          {% else %}
            <li class="inactive" data-col="#ffdd00"><a href="{{site.baseurl}}/contact/">Contact</a></li>
          {% endif %}  
        </ul>
        <div class="hline"></div> 
    </nav>
      
        <button onclick="mobileSwitch()" id="js-nav" class="hamburger hamburger--spring" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
</header>
