<header class="site-header" role="banner">

  <div id="my-cart">
    <!--temporary to remove after testing -->
    <a href="#" class="snipcart-checkout">1 Items</a>
  </div>
    <h1 class="site-title">{{ site.title | escape }}</h1>
    <nav id="nav">
        <ul>
         
        <li class="active current" data-col="#00cc00"><a href="{{site.baseurl}}/" id="current">Home</a></li>
        <li class="inactive" data-col="#ff0000"><a href="{{site.baseurl}}/about/">About Us</a></li>
          <li class="inactive" data-col="#ffff00"><a href="{{site.baseurl}}/studio/">Studio</a></li>
          <li class="inactive" data-col="#ffdd00"><a href="{{site.baseurl}}/shop/">Shop</a></li>
          <li class="inactive" data-col="#ffdd00"><a href="{{site.baseurl}}/contact/">Contact</a></li>
        </ul>
        <div class="hline"></div> 
    </nav>
      
        <button onclick="mobileSwitch()" id="js-nav" class="hamburger hamburger--spring" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

         

</header>
