<li>
    <div class="release product-info">
        <h4>{{ release.title }}</h4>
        {{ release.content }}
        {%- if release.categories contains 'album' -%}
        {%- else -%}
        <ul class="track-list">
                {% for track in release.tracks %}
                 <li> {{ track.name }} {%- if track.file -%}<button class="js-play-sample listen" data-sample="{{ track.file }}" data-songname="{{ track.name }}"><img src="{{site.baseurl}}/assets/images/hear.svg"/></button>{%- endif -%}</li>
                 
                {% endfor %}
              </ul>
        {%- endif -%}
        {%- if release.mp3-asset -%}
        <button class="js-play-sample listen" data-sample="{{release.mp3-asset}}" data-songname="{{ release.title }}">Listen</button>
        {%- endif -%}


        
        {%- if release.price -%}

      
      
         

        <button class="snipcart-add-item add-cart" 
          data-item-name="{{ release.title }}" 
          data-item-id="{{ release.sku }}"
          {%- if release.weight -%} 
          data-item-weight="100"
          {%- else -%}
          data-item-weight="1"
          {%- endif -%}
          data-item-image="{{site.baseurl}}{{ release.image }}" 
          data-item-url="https://www.speedywunderground.com{{ page.url }}" 
          data-item-price="{{ release.price | round: 2 }}"  
          data-item-file-guid = "{{ release.file-guid }}"  
          >
          {% assign price_split = release.price | round: 2 | split: "." %}
          {% assign integral = price_split[0] %}
          {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
         
            Buy  £ {{ integral }}.{{ fractional }}
           
        </button>
         
        {%- else -%}
            {%- if release.categories contains 'pias' -%}
            <a href="{{ release.extLink }}" target="_blank" class="snipcart-add-item add-cart">BUY ON PIAS</a>
            {%- else -%}
            SOLD OUT
            {%- endif -%}
        {%- endif -%}
    </div>
</li>

