<div class="product">
    <img src="{{site.baseurl}}{{ product.image }}" alt="{{ product.title }}" class="thumbnail"/>
    <div class="product-description">
      <h4>{{ product.title }}</h4>
      {{ product.content }}
      {%- if product.categories contains "clothes" -%}
        <select class="js-product-size select-dd">
          <option value="" disabled selected>Size</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>
        <select class="js-product-colour select-dd">
            <option value="" disabled selected>Colour</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
          </select>
      {%- endif -%}
      <button class="snipcart-add-item add-cart"
        data-item-name="{{ product.title }}"
        data-item-id="{{ product.sku }}"
        data-item-weight="1"
        data-item-image="{{site.baseurl}}{{ product.image }}"
        data-item-url="http://www.sushkelly.co.uk/speedywunderground/"
        data-item-price="{{ product.price | round: 2 }}"
        data-item-shippable = "{{ product.is-shippable }}"
        data-item-file-guid="{{ product.file-guid }}"

        {%- if product.categories contains "clothes" -%}
        data-item-custom1-name="Size"
        data-item-custom1-options="small|medium|large"
        data-item-custom1-value=""
        data-item-custom2-name="Colour"
        data-item-custom2-options="red|yellow|blue"
        data-item-custom2-value=""
        {%- endif -%}
        >
        Buy it for £ {{ product.price | round: 2 }}
      </button>
    </div>
</div>