<div class="product">
    <img src="{{site.baseurl}}{{ product.image }}" alt="{{ product.title }}" class="thumbnail"/>
    <div class="product-description">
      <h4>{{ product.title }}</h4>
      {% assign price_split = product.price | round: 2 | split: "." %}
      {% assign integral = price_split[0] %}
      {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
  
      {{ product.content }}
      {%- if product.tags contains "colour" -%}
        <select class="js-product-colour select-dd">
            <option value="" disabled selected>Colour</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="black">Black</option>
          </select>
      {%- endif -%}
      {%- if product.tags contains "size" -%}
        <select class="js-product-size select-dd">
          <option value="" disabled selected>Size</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          {%- if product.title contains "Purple T-shirt" or product.title contains "Short Sleeve T-shirt" -%}
         
          {%- else -%}
        <option value="large">Large</option>
        {%- endif -%}
        {%- if product.title contains "10 Year Anniversary T-shirt" -%}

        {%- else -%}
        <option value="x-large">X-Large</option>
        {%- endif -%}
        </select>
        {%- endif -%}
        {%- if product.tags contains "cap" -%}
        <select class="js-product-cap select-dd">
          <option value="" disabled selected>Colour</option>
          <option value="white">White</option>
          <option value="purple">Purple</option>
        </select>
        {%- endif -%}
        {%- if product.price -%}
      <button class="snipcart-add-item add-cart"
        data-item-name="{{ product.title }}"
        data-item-id="{{ product.sku }}"
        {% if product.title contains "Record Bag" %}
        data-item-weight="700"
        {% else %}
        data-item-weight="1"
        {% endif %}
        data-item-image="{{site.baseurl}}{{ product.image }}"
        data-item-url="https://www.speedywunderground.com{{ page.url }}"
        data-item-price="{{ integral }}.{{ fractional }}"
        data-item-file-guid="{{ product.file-guid }}"

        {% if product.tags contains "size" %}
        data-item-custom1-name="Size"
        data-item-custom1-options="small|medium|large|x-large"
        data-item-custom1-value=""
        {% endif %}
        {% if product.tags contains "colour" %}
        data-item-custom2-name="Colour"
        data-item-custom2-options="red|yellow|blue|black"
        data-item-custom2-value=""
        {% endif %}

        {% if product.tags contains "cap" %}
        data-item-custom2-name="Colour"
        data-item-custom2-options="white|purple"
        data-item-custom2-value=""
        {% endif %}
        >
        Buy it for £ {{ integral }}.{{ fractional }}
      </button>
      {%- else -%}
        SOLD OUT
        {%- endif -%}
    </div>
</div>