<li>
    <div class="release product-info">
            {%- if release.image -%}
            <img src="{{site.baseurl}}{{release.image}}" />
            {%- endif -%}
            <div class="product-description">
                 <h4>{{release.releaseprefix}}{%- if release.cataloguenumber.size > 0 -%}{{ release.cataloguenumber }}: &nbsp; {%- endif -%} {{ release.title }}</h4>
        {{ release.content }}
      
           <ul class="track-list">
        
            {% for track in release.tracks %}
              <li> {{ track.name }} {%- if track.file -%}<button class="js-play-sample listen" data-sample="{{ track.file }}" data-songname="SW{{ release.cataloguenumber }}: {{ track.name }}"><img src="{{site.baseurl}}/assets/images/hear.svg"/></button>{%- endif -%}</li>
            {% endfor %}
            {%- if release.mp3-asset -%}
              <li class="no-bullet"><button class="js-play-sample listen" data-sample="{{release.mp3-asset}}" data-songname="{{ release.title }}"><img src="{{site.baseurl}}/assets/images/hear.svg"/></button></li>
            {%- endif -%}
           </ul>
          
       
        {%- if release.price -%}

         {%- if release.categories contains 'album' -%}

         
          <button class="snipcart-add-item add-cart" 
          data-item-name="{{ release.title }}-vinyl" 
          data-item-id="{{ release.sku }}-vinyl" 
          data-item-weight="1"
          data-item-image="{{site.baseurl}}{{ release.image }}" 
          data-item-url="https://www.speedywunderground.com{{ page.url }}" 
          data-item-price="{{ release.price | round: 2 }}"  
          data-item-file-guid = "{{ release.file-guid }}"  
          >
          {% assign price_split = release.price | round: 2 | split: "." %}
          {% assign integral = price_split[0] %}
          {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
         
            Buy Vinyl  £ {{ integral }}.{{ fractional }}
           
        </button>
       
         <button class="snipcart-add-item add-cart" 
          data-item-name="{{ release.title }}-cd" 
          data-item-id="{{ release.sku }}-cd" 
          data-item-weight="1"
          data-item-image="{{site.baseurl}}{{ release.image }}" 
          data-item-url="https://www.speedywunderground.com{{ page.url }}" 
          data-item-price="{{ release.cd_price | round: 2 }}"  
          data-item-file-guid = "{{ release.file-guid }}" 
           
          >
          {% assign price_split = release.cd_price | round: 2 | split: "." %}
          {% assign integral = price_split[0] %}
          {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
         
            Buy CD £ {{ integral }}.{{ fractional }}
           
        </button>
         
 

          {%- else -%}
        <button class="snipcart-add-item add-cart" 
          data-item-name="{{ release.title }}" 
          data-item-id="{{ release.sku }}" 
          data-item-weight="1"
          data-item-image="{{site.baseurl}}{{ release.image }}" 
          data-item-url="https://www.speedywunderground.com{{ page.url }}" 
          data-item-price="{{ release.price | round: 2 }}"  
          data-item-file-guid = "{{ release.file-guid }}"  
          >
          {% assign price_split = release.price | round: 2 | split: "." %}
          {% assign integral = price_split[0] %}
          {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
         
            Buy  £ {{ integral }}.{{ fractional }}
           
        </button>
        {%- endif -%}
        {%- else -%}
        
         {%- if release.categories contains 'digital' -%}

         {%- else if release.categories contains 'pias' -%}
         <a href="{{ release.extLink }}" target="_blank" class=" add-cart">BUY ON PIAS</a>
         {%- else -%}
          SOLD OUT
          {%- endif -%}
       
        {%- endif -%}
        </div>
    </div>
</li>

