<li>
    <div class="release product-info">
            {%- if release.image -%}
            <img src="{{site.baseurl}}{{release.image}}" />
            {%- endif -%}
            <div class="product-description">
                 <h4>{{ release.title }}</h4>
        {{ release.content }}
        <ul class="track-list">
          {% for track in release.tracks %}
           <li> {{ track.name }} {%- if track.file -%}<button class="js-play-sample listen" data-sample="{{ track.file }}" data-songname="{{ track.name }}"></button>{%- endif -%}</li>
           
          {% endfor %}
        </ul>
        {%- if release.mp3-asset -%}
        <button class="js-play-sample listen" data-sample="{{release.mp3-asset}}" data-songname="{{ release.title }}">Listen</button>
        {%- endif -%}
        {%- if release.price -%}
        <button class="snipcart-add-item add-cart"
          data-item-name="{{ release.title }}"
          data-item-id="{{ release.sku }}"
          data-item-image="{{ release.image }}"
          data-item-url="http://www.sushkelly.co.uk/speedywunderground/"
          data-item-price="{{ release.price | round: 2 }}"
          {%- if release.shippable -%}
          data-item-shippable = "{{ release.shippable }}"
          {%- endif -%}

          {%- if release.file-guid -%}
          data-item-file-guid="{{ release.file-guid }}"
          {%- endif -%}>
          {% assign price_split = release.price | round: 2 | split: "." %}
          {% assign integral = price_split[0] %}
          {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
         
            Buy  £ {{ integral }}.{{ fractional }}
           
        </button>
        {%- else -%}
        SOLD OUT
        {%- endif -%}
        </div>
    </div>
</li>

