a {
    transition: all .75s ease;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--main-color);
}

 .add-cart , .listen {
    border: solid 1px white;
    color:white;
    padding:5px 20px;
    background-color:#000000;
    transition: all .75s ease;
    font-size:1rem;
    text-transform:uppercase;
    cursor:pointer;
}

 .add-cart:hover , .listen:hover{
   background-color:#f7bb00;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}