footer {
    padding:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 3;

    #socials {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        text-align: right;
    }

    img {
        max-width:100px;
    }
}
