.shop-inner .triangle , .shop-inner .t-line{
    display:none;
}

.compilations , .singles , .merch {

    h3 {
        font-size:2.5rem;
        // border-bottom: solid 1px #ffffff;
        margin-bottom:2rem;
    }

    

    .product-info h4 {
            font-size:1.25rem;
    }

    .product-info ul {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

}

.comp-list {
    margin: 0 0 3rem 0;
    padding: 0;
    list-style: none;
    display:grid;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr ;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr ;
    }

  

}

.single-list {
    margin: 0 0 3rem 0;
    padding: 0;
    list-style: none;
    display:grid;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr ;
    }

    @media only screen and (max-width:500px) {
        grid-template-columns:  1fr ;
    }




}


.merch-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display:grid;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr ;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr ;
    }

    h3 {
        font-size:3rem;
    }

    h4 {
        font-size:1.5rem;
    }


}

.shop-home{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 100px 1fr 1fr;
    min-height: 50vh;
}

.shop-cats {

    transition: all .75s ease;
    grid-column: 1;
    list-style: none;
    font-size: 7vw;
    line-height: 6vw;
    font-weight: 700;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
  
        grid-column: 2;
        transform: rotate(45deg);
        transform-origin: top left;
        transform-style: preserve-3D;
    }

}
